//===========theme-color-declaration
//theme-color
$theme-dark: #0a0e1a;
$theme-light: #ffffff;
$theme-primary: #0057fc;
$theme-secondary: #ffe815;
$theme-tertiary: #ff3838;
$theme-accent: #ffd06c;
//theme-heading-color
$theme-heading-dark: #0a0e1a;
$theme-heading-light: #ffffff;
//theme-paragraph-color
$theme-paragraph-dark: #57595c;
$theme-paragraph-light: #b1b4ba;
//theme-button-color
$theme-button-primary: #0057fc;
$theme-button-primary-hover: #71a2ff;
$theme-button-secondary: #ffe815;
$theme-button-secondary-hover: #e5cf00;
$theme-button-tertiary: #ff3838;
//theme-border-color
$theme-border: #57595c;
//theme-common-color
$theme-common-dark: #000000;
$theme-common-light: #ffffff;

//colors declare
$colors: (
  theme: (
    light: $theme-light,
    dark: $theme-dark,
    primary: $theme-primary,
    secondary: $theme-secondary,
    tertiary: $theme-tertiary,
    accent: $theme-accent,
  ),
  heading: (
    dark: $theme-heading-dark,
    light: $theme-heading-light,
  ),
  paragraph: (
    dark: $theme-paragraph-dark,
    light: $theme-paragraph-light,
  ),
  button: (
    primary: $theme-button-primary,
    primary-hover: $theme-button-primary-hover,
    secondary: $theme-button-secondary,
    secondary-hover: $theme-button-secondary-hover,
    tertiary: $theme-button-tertiary,
  ),
  border: (
    color: $theme-border,
  ),
  common: (
    dark: $theme-common-dark,
    light: $theme-common-light,
  ),
);

//theme-prefix
$theme-prefix: "ts";

//space-count
$space-count: 20;
